@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}
p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
    color: #061717;
}
h1.title {
    color: rgb(8, 0, 0);
    font-family: 'Allura', 'cursive';
    text-transform: uppercase;
    word-spacing: 25px;
    letter-spacing: 5px;
}
h1.title1 {
    color: rgb(241, 228, 228);
    font-family: 'Allura', 'cursive';
    text-transform: uppercase;
    word-spacing: 25px;
    letter-spacing: 5px;
}
.btn2 a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid black;
    color: red;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
.main_container {
    position: relative;
}
.navbar {
    width: 100%;
    height: 65px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: right;
}
.logo1 h1 {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3kboZAFjqMJxwjUZbYSyrW9OLztG5pmZH7Q&usqp=CAU') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allura', 'cursive';
    font-size: 80px;
    color: rgb(236, 226, 226);
}
.navbar_items ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar_items ul li {
    float: left;
    width: 110px;
    height: 40px;
    opacity: .9;
    line-height: 50px;
    text-align: center;
}
.navbar_items ul li a {
    text-transform: uppercase;
    color: rgb(15, 1, 1);
    text-decoration: none;
    font-size: 18px;
}
.navbar_items ul li a:hover {
    color: rgb(18, 4, 110);
    font-size: 20px;
}
.navbar_items ul li a:after {
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    transition: transform 250ms;
}
.navbar_items ul li a:hover:after {
    transform: translateX(-50%) scaleX(1.0);
}
.navbar_items ul li ul li {
    display: none;
}
.navbar_items ul li:hover ul li {
    display: block;
}
.banner_content {
    text-align: center;
    color: rgb(0, 0, 0)
}
.banner_content h1 {
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 15px;
    margin-top: 2px;
}
.banner_content h1 span {
    color: tomato;
}
.banner_image {
    background: url('https://png.pngtree.com/background/20210709/original/pngtree-starting-school-learn-campus-kindergarten-picture-image_922259.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about, .services, .contactus, .ourteam {
    text-align: center;
    padding: 5% 10%;
}
.about {
    background: url('https://www.shutterstock.com/image-vector/calm-peaceful-morning-scenery-mountain-260nw-2021679185.jpg') no-repeat center;
    background-size: cover;
}
.services {
    background-color: cadetblue;
}
.diff_services {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}


.contactus{
    height: 800px;
    margin-top: 15px;
    background: url("https://t4.ftcdn.net/jpg/04/54/57/63/360_F_454576300_AN2dAthqhFl11iIoqHBgl3mpyXyzREnx.jpg")no-repeat center;
    background-size: cover;
}
.grid-container {
    
    display: grid;
    grid-template-columns: 400px 600px;
    
  }
  
.grid-item {
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    font-size: 20PX;
}
.grid-item1 {
    padding: 20px;
    text-align: center;
    font-size: 20PX;
    margin-bottom: 1px;
}
.grid-container1 {
    
    display: grid;
    grid-template-columns: 200px 100px;
    
  }
.grid-item2 {
    
    text-align: left;
    font-size: 20PX;
    margin-bottom: 1px;
}
.ourteam {
    background: whitesmoke;
    background: url('https://t4.ftcdn.net/jpg/03/25/81/75/360_F_325817533_Du58hoccFEwhyoc2DsGjWWfEFZxpbN4f.jpg') no-repeat center;
    background-size: cover;
}
.ourteam_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.ourteam_wrapper .team {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.foot {
    text-align: center;
    padding: 5% 10%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-cols-container {
    display: flex;
    justify-content: space-between;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #fafafa;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width: 720px) {
    .navbar{
        height: auto;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 25px;
    }
    .navbar_items ul {
        flex-direction: column;
        text-align: center;
    }
    .navbar_items ul li{
        margin-bottom: 5px;
    }

    .banner_content {
        margin-top: 35px;
    }

}
    /*footer */
    .footer1{
        width: 100%;
        text-align: center;
        background: black;
        padding: 20px 0;
    }
    .footer1 a {
        color: #fff;
    }
    .arrow{
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 40px;
        height: 40px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        background: #fb2274;
        border-radius: 50%;
        display: none;
    }
    .arrow img{
        width: 20px;
        height: 20px;
        z-index: 1;
    }
